{% extends 'base.html' %}

{% block title %}
Edit Course
{% endblock %}

{% block content %}
<main class="container">
    <div class="container">
        <h1>Edit Course: {{ course.name }}</h1>
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }} {{ form.name }}
            </div>
            <div class="form-group">
                {{ form.description.label }} {{ form.description }}
            </div>
            <div class="form-group">
                {{ form.submit }}
            </div>
        </form>
    </div>
</main>
{% endblock %}
