{% extends 'base.html' %}
{% block content %}
<main class="container">
    <div class="container">
        <h1>About Our Site</h1>
        <p>For (target customer): For groups of computer science students and educators who frequently engage in knowledge exchange and seek tutoring services.</p>
        <p>Who (statement of the need or opportunity): These users require a dedicated platform that allows for easy searching, offering, and scheduling of tutoring sessions, as well as a space to create discussions, share resources, and provide feedback.</p>
        <p>The (product name) is a (product category): CodeConnect is a SaaS web application forum focused on the computer science education community.</p>
        <p>That (key benefit, compelling reason to buy): Provides a unique, community-driven platform empowering users with tools for enhancing their learning experience through peer interaction, resource sharing, and convenient access to tutoring.</p>
        <p>Unlike (primary competitive alternative): Unlike general-purpose forums, CodeConnect is specifically designed for computer science students and integrates a marketplace for tutoring, facilitating a seamless connection between students and tutors.</p>
        <p>Our product (statement of primary differentiation): Our product offers a modern and intuitive user interface with secure user session management, CRUD resources for profiles, posts, and comments, multiple views for interaction, dynamic content loading, and a comprehensive testing suite, ensuring an engaging, reliable, and user-friendly experience.</p>
        <p>Metrics of Success: The success of CodeConnect will be measured by high user engagement in posts and tutoring sessions, steady user growth with low churn rates, and strong positive feedback indicated by user surveys and high net promoter scores.</p>
    </div>
</main>
{% endblock %}
