{% extends 'base.html' %}

<h1 style="color: blue; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"> CodeConnect </h1>

{% block content %}
<body style="background-color: aqua;">

</body>
<main class="container", style="background-color: aquamarine;">
    <div class="container">
        <h2>Welcome to Our Site!</h2>
        <p>This is the home page of CodeConnect, a SaaS web application forum focused on the computer science education community.</p>
        <!-- Additional content for your home page goes here -->
        <a href="/app/main/templates/main/about.html">About us</a>
        <a href="/app/main/templates/main/contact.html">Contacts</a>
    </div>
</main>
{% endblock %}