{% extends 'base.html' %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<main class="container">
    <div class="tutor-profile-container">
        <h1 class="tutor-profile-title">Profile of {{ current_user.username }}</h1>
        <div class="tutor-details">
            <p><strong>Email:</strong> {{ current_user.email }}</p>
            <p><strong>Description:</strong> {{ current_user.description or 'No description provided.' }}</p>
        </div>
        <a href="{{ url_for('user.edit_profile') }}" class="edit-profile-button">Edit My Profile</a>
    </div>
</main>
{% endblock %}
