{% extends 'base.html' %}

{% block title %}Forum Posts{% endblock %}

{% block content %}
<main class="container">
    <div class="forum-container">
        <h1>{{ forum.title }} Posts</h1>
        <div class="forum-list">
            {% for post in posts %}
                <div class="forum-post">
                    <h3><a href="{{ url_for('forum.forum_topic', post_id=post.id) }}">{{ post.title }}</a></h3>
                    <p>Posted by: {{ post.author.username }}</p>
                    <p>{{ post.body | truncate(150) }}</p>
                    {% if post.course %}
                        <p>Related Course: {{ post.course.name }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        
        {% if current_user.is_authenticated and current_user == forum.user %}
            <!-- Add the delete form for the entire forum -->
            <form action="{{ url_for('forum.delete_forum', forum_id=forum.id) }}" method="post" class="delete-form">
                <button type="submit" class="delete-button">Delete Forum</button>
            </form>
        {% endif %}
        
        <a href="{{ url_for('forum.new_topic', forum_id=forum_id) }}" class="create-topic-button">Create New Topic</a>
    </div>
</main>
{% endblock %}
