{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<main class="container">
    <div class="container">
        <h2>Login</h2>
        <form action="{{ url_for('auth.login') }}" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
            </p>
            <button type="submit" class="login-button">Register</button>
        </form>
        <br>
        <h3>Need to register <a href="{{ url_for('auth.register') }}">Click Here</a> </h3>
</div>
</main>
{% endblock %}
