{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<main class="container">
    <div class="container">
        <h2>Login</h2>
        <form action="{{ url_for('login') }}" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
</div>
</main>
{% endblock %}
