{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<main class="container">
    <div class="container">
        <h2>Change Password</h2>
        <form action="" method="post">
            {{ form.hidden_tag() }}

            <!-- Old Password Field -->
            <div class="form-group">
                {{ form.old_password.label }}<br>
                {{ form.old_password(size=32, class="form-control") }}
                {% if form.old_password.errors %}
                    <span class="error">{{ form.old_password.errors[0] }}</span>
                {% endif %}
            </div>

            <!-- New Password Field -->
            <div class="form-group">
                {{ form.new_password.label }}<br>
                {{ form.new_password(size=32, class="form-control") }}
                {% if form.new_password.errors %}
                    <span class="error">{{ form.new_password.errors[0] }}</span>
                {% endif %}
            </div>

            <!-- Confirm New Password Field -->
            <div class="form-group">
                {{ form.new_password2.label }}<br>
                {{ form.new_password2(size=32, class="form-control") }}
                {% if form.new_password2.errors %}
                    <span class="error">{{ form.new_password2.errors[0] }}</span>
                {% endif %}
            </div>

            <!-- Submit Button -->
            <div class="form-group">
                {{ form.submit(class="login-button") }}
            </div>
        </form>
    </div>
</main>
{% endblock %}
