{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<main class="container">
    <div class="container">
    <h2>Change Password</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.old_password.label }}<br>
            {{ form.old_password(size=32) }}
        </p>
        <p>
            {{ form.new_password.label }}<br>
            {{ form.new_password(size=32) }}
        </p>
        <p>
            {{ form.new_password2.label }}<br>
            {{ form.new_password2(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    </div>
</main>
{% endblock %}
