<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav-container">
                <div class="logo-container">
                    <img src="../static/img/CompanyLogo.png" class="logo"></img>
                </div>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/forum">Forum</a></li>
                    <li><a href="/list_tutors">Tutors</a></li>
                    <li><a href="/list_courses">Courses</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/auth/login">Login</a></li>

                </ul>
            </div>
        </nav>
    </header>
    {% block content %}
    <!-- Content specific to each page will go here -->
    {% endblock %}
    

    <footer>
        <p>&copy; 2023 CodeConnect</p>
    </footer>
</body>
</html>
